<!DOCTYPE html>
<html lang="ko">
	<head>
	<title>gitplechat_lifeplanet</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- 파비콘 -->
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

    <!-- style -->
    <link rel="stylesheet" href="/assets/style/reset.css" />
    <link rel="stylesheet" href="/assets/style/reset_admin.css" />
    <link rel="stylesheet" href="/assets/style/gktplechat_layout.css" />
    <link rel="stylesheet" href="/assets/style/gktplechat_admin.css" />
</head>
<body>

<div class="main">
    <div class="header">
        <div>
            <div class="logo"><img src="https://devlifeplanet.enterprise.gitple.io/assets/custom/img/gitple_symbol.png" alt="Gitple"></div>
            <div class="session-status">
                <ul>
                    <li>
                        <a href="#g">
                            <span class="session-status-label">대기</span>
                            <span class="session-status-count">
                                <span>0</span>
                                <span>0</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#g">
                            <span class="session-status-label">상담</span>
                            <span class="session-status-count">
                                <span>2</span>
                                <span>11</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#g">
                            <span class="session-status-label">확인</span>
                            <span class="session-status-count">
                                <span>0</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#g">
                            <span class="session-status-label">종료</span>
                            <span class="session-status-count">
                                <span>0</span>
                                <span>0</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                asd
            </div>

            <div class="user-profile" style="display: flex; align-items:center;">
                <div style="display:inline-flex; align-items:center;">
                    <span class="user-profile-photo"><img src="https://devlifeplanet.enterprise.gitple.io/assets/img/app/profile/no-photo@2x.png" alt="ㅇㅇㅇ" style="width:35px; height:35px;"></span>
                    <span class="user-profile-text">admin</span>
                </div>
                <div>a</div>
                <div>a</div>
                <div>a</div>
            </div>
        </div>
    </div>
    <!-- // header -->

    <div class="container_wrap">
        <div class="aside_wrap">
            <ul class="al-sidebar-list">
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>상담</span></a>
                    <!-- <div class="al-sidebar-sublist">adsf</div> -->
                </li>

                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>분석</span></a>
                    <div class="al-sidebar-sublist">
                        <div class="al-sidebar-sublist-title-container">
                            <div class="tit"><strong>분석</strong></div>
                            <button type="button"><span>메뉴 닫기</span></button>
                        </div>
                        <!-- // al-sidebar-sublist-title-container -->

                        <div class="sublist_group">
                            <div class="tit"><strong>현황</strong></div>
                            <ul>
                                <li><a href="#g"><span>대시보드</span></a></li>
                            </ul>
                        </div>

                        <div class="sublist_group">
                            <div class="tit"><strong>통계</strong></div>
                            <ul>
                                <li><a href="#g" class="active"><span>담당자별 세션</span></a></li>
                                <li><a href="#g"><span>카테고리별 세션</span></a></li>
                                <li><a href="#g"><span>FAQ 봇</span></a></li>
                                <li><a href="#g"><span>시나리오 봇</span></a></li>
                                <li><a href="#g"><span>채팅앱 채널</span></a></li>
                                <li><a href="#g"><span>상담사 상태</span></a></li>
                            </ul>
                        </div>

                        <div class="sublist_group">
                            <div class="tit"><strong>설문</strong></div>
                            <ul>
                                <li><a href="#g"><span>고객 만족도(CSAT)</span></a></li>
                            </ul>
                        </div>

                        <div class="sublist_group">
                            <div class="tit"><strong>시스템</strong></div>
                            <ul>
                                <li><a href="#g"><span>활동 이력</span></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- // al-sidebar-sublist -->
                </li>
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>세션</span></a>
                    <!-- <div class="al-sidebar-sublist">adsf</div> -->
                </li>
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>고객</span></a>
                    <div class="al-sidebar-sublist">
                        <div class="al-sidebar-sublist-title-container">
                            <div class="tit"><strong>고객</strong></div>
                            <button type="button"><span>메뉴 닫기</span></button>
                        </div>
                        <!-- // al-sidebar-sublist-title-container -->

                        <div class="sublist_group">
                            <!-- <div class="tit"><strong>서브메뉴</strong></div> -->
                            <ul>
                                <li><a href="#g"><span>상담 고객</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- // al-sidebar-sublist -->
                </li>
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>상담사</span></a>
                    <div class="al-sidebar-sublist">
                        <div class="al-sidebar-sublist-title-container">
                            <div class="tit"><strong>상담사</strong></div>
                            <button type="button"><span>메뉴 닫기</span></button>
                        </div>
                        <!-- // al-sidebar-sublist-title-container -->

                        <div class="sublist_group">
                            <!-- <div class="tit"><strong>서브메뉴</strong></div> -->
                            <ul>
                                <li><a href="#g" class="active"><span>상담사</span></a></li>
                                <li><a href="#g"><span>상담사 그룹</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->
                    </div>
                    <!-- // al-sidebar-sublist -->
                </li>
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>봇</span></a>
                    <div class="al-sidebar-sublist">
                        <div class="al-sidebar-sublist-title-container">
                            <div class="tit"><strong>봇</strong></div>
                            <button type="button"><span>메뉴 닫기</span></button>
                        </div>
                        <!-- // al-sidebar-sublist-title-container -->

                        <div class="sublist_group">
                            <div class="tit"><strong>FAQ</strong></div>
                            <ul>
                                <li><a href="#g" class="active"><span>FAQ 봇 설정</span></a></li>
                                <li><a href="#g"><span>FAQ 데이터</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->

                        <div class="sublist_group">
                            <div class="tit"><strong>시나리오</strong></div>
                            <ul>
                                <li><a href="#g"><span>시나리오 봇</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->
                    </div>
                    <!-- // al-sidebar-sublist -->
                </li>
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>브랜드</span></a>
                    <div class="al-sidebar-sublist">
                        <div class="al-sidebar-sublist-title-container">
                            <div class="tit"><strong>브랜드</strong></div>
                            <button type="button"><span>메뉴 닫기</span></button>
                        </div>
                        <!-- // al-sidebar-sublist-title-container -->

                        <div class="sublist_group">
                            <div class="tit"><strong>전체</strong></div>
                            <ul>
                                <li><a href="#g" class="active"><span>브랜드 관리</span></a></li>
                                <li><a href="#g"><span>기본</span></a></li>
                                <li><a href="#g"><span>연동</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->
                    </div>
                    <!-- // al-sidebar-sublist -->
                </li>
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>자원</span></a>
                    <div class="al-sidebar-sublist">
                        <div class="al-sidebar-sublist-title-container">
                            <div class="tit"><strong>자원</strong></div>
                            <button type="button"><span>메뉴 닫기</span></button>
                        </div>
                        <!-- // al-sidebar-sublist-title-container -->

                        <div class="sublist_group">
                            <!-- <div class="tit"><strong>서브메뉴</strong></div> -->
                            <ul>
                                <li><a href="#g" class="active"><span>고객 프로필 항목 관리</span></a></li>
                                <li><a href="#g"><span>카카오 발신 프로필 관리</span></a></li>
                                <li><a href="#g"><span>상담사 상태 관리</span></a></li>
                                <li><a href="#g"><span>바로가기 관리</span></a></li>
                                <li><a href="#g"><span>UMS 정보 관리</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->

                        <div class="sublist_group">
                            <div class="tit"><strong>마스킹</strong></div>
                            <ul>
                                <li><a href="#g"><span>마스킹 규칙 관리</span></a></li>
                                <li><a href="#g"><span>마스킹 포맷 관리</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->
                    </div>
                    <!-- // al-sidebar-sublist -->
                </li>
                <li class="al-sidebar-list-item">
                    <a href="#g" class="aside-list-link"><span>설정</span></a>
                    <div class="al-sidebar-sublist">
                        <div class="al-sidebar-sublist-title-container">
                            <div class="tit"><strong>설정</strong></div>
                            <button type="button"><span>메뉴 닫기</span></button>
                        </div>
                        <!-- // al-sidebar-sublist-title-container -->

                        <div class="sublist_group">
                            <!-- <div class="tit"><strong>서브메뉴</strong></div> -->
                            <ul>
                                <li><a href="#g" class="active"><span>배정</span></a></li>
                                <li><a href="#g"><span>업무 시간</span></a></li>
                                <li><a href="#g"><span>저장된 답변</span></a></li>
                                <li><a href="#g"><span>나의 저장된 답변</span></a></li>
                                <li><a href="#g"><span>사전</span></a></li>
                                <li><a href="#g"><span>태그</span></a></li>
                                <li><a href="#g"><span>채팅앱 테스트</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->

                        <div class="sublist_group">
                            <div class="tit"><strong>계정 관리</strong></div>
                            <ul>
                                <li><a href="#g"><span>계정</span></a></li>
                            </ul>
                        </div>
                        <!-- // sublist_group -->
                    </div>
                    <!-- // al-sidebar-sublist -->
                </li>
            </ul>
            <!-- // al-sidebar-list -->
        </div>
        <!-- // aside_wrap -->
         
        <div class="page_wrap">
<style>
.btn_dropdown_toggle {display:inline-flex; align-items:center; gap:4px; position:relative; height:35px; padding:0 2em 0 1em; background-color:#fff; border:1px solid #228be6; border-radius:4px; cursor:pointer;}
.btn_dropdown_toggle span.ico {display:inline-block; width:22px; min-width:22px; height:22px;}
.btn_dropdown_toggle span.txt {display:inline-block; color: #228be6; font-size:14px; line-height:1em; font-weight:bold;}
.btn_dropdown_toggle::after {content:""; display:block; position:absolute; bottom:35%; right:0.75em; width:8px; height:8px; border-width:0 0 2px 2px; border-style:solid; border-color:#228be6; transform:rotate(-45deg); transform-origin:0 100%;}

.page_tit_wrap .tit_wrap {display:flex; align-items:center; gap:0 1.25em;}
.page_tit_wrap .btn_add_popup {margin-left:auto;}
.page_tit_wrap .btn_add_popup button.btn_add {height:35px; padding:0 1em; border-radius:4px; background-color:#228be6; color:#fff;}
.page_tit_wrap .btn_add_popup button.btn_add span {display:block; line-height:1em; font-weight:500;}
</style>
            <div class="page_tit_wrap">
                <div class="tit_wrap">
                    <div class="tit"><strong>상담고객</strong></div>
                    <div>
                        <div>
                            <button type="button" class="btn_dropdown_toggle">
                                <span class="ico"><img src="https://devlifeplanet.enterprise.gitple.io/assets/icon/icon-inapp-blue.png" alt=""></span>
                                <span class="txt">텍스트</span>
                            </button>
                        </div>
                    </div>
                    <div class="btn_add_popup" style="">
                        <button type="button" class="btn_add"><span>+ 상담사 추가</span></button>
                    </div>
                </div>
                <div class="txt">
                    <span>실제 상담한 고객의 정보가 자동으로 추가됩니다.</span>
                    <a href="#g" target="_blank" class="link">새창 링크가 들어갑니다.<i>새창아이콘</i></a>
                </div>
            </div>
            <!-- // page_tit_wrap -->

            <div class="page_tab_wrap">
                <ul class="tab_list">
                    <li><a href="#g" class="active"><span>일반</span></a></li>
                    <li><a href="#g"><span>스킬 배정</span></a></li>
                </ul>
            </div>
            <!-- // page_tab_wrap -->

            <!-- <div class="page_content">
                <div class="tit"><strong>상품명</strong></div>
                <div class="list">
                    
                </div>
                <div>
                    <dl>
                        <dt>설계일자</dt>
                        <dd>2024-11-07</dd>
                    </dl>
                </div>
            </div> -->
            <!-- // page_content -->

            <div class="page_box">

                <div class="filter_wrap">

                    <div class="filter_tit">
                        <strong class="tit">필터</strong>
                        <div>
                            <button type="button" class="btn_filter_set"><span>필터 세팅</span></button>
                        </div>
                    </div>
                    <!-- // filter_tit -->
                    
                    <div class="filter_list">

                        <div class="filter_item">
                            <label><span>고객 ID</span></label>
                            <div class="filter_input_wap">
                                <div class="select_set">
                                    <div class="triger">
                                        <button type="button" class="btn_triger"><span>전체</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filter_item">
                            <label><span>이름</span></label>
                            <div class="filter_input_wap">
                                <select name="" id="">
                                    <option value="옵션1">옵션1</option>
                                </select>
                                <input type="text">
                            </div>
                        </div>

                        <div class="filter_item">
                            <label><span>이메일</span></label>
                            <div class="filter_input_wap">
                                <input type="text" class="btn_select">
                                <div class="select_list">
                                    <ul>
                                        <li><span class="ico">ㅇ</span><span class="txt">텍스트</span></li>
                                        <li><span class="ico">ㅇ</span><span class="txt">텍스트</span></li>
                                        <li><span class="ico">ㅇ</span><span class="txt">텍스트</span></li>
                                        <li><span class="ico">ㅇ</span><span class="txt">텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트</span></li>
                                        <li><span class="ico">ㅇ</span><span class="txt">텍스트</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="filter_item">
                            <label><span>전화</span></label>
                            <div class="filter_input_wap">
                                <select name="" id="">
                                    <option value="옵션1">옵션1</option>
                                </select>
                                <input type="text">
                            </div>
                        </div>

                        <div class="filter_item">
                            <label><span>태그</span></label>
                            <div class="filter_input_wap">
                                <select name="" id="">
                                    <option value="전체">전체</option>
                                </select>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <!-- // filter_list -->

                    <div class="filter_submit_wrap">
                        <div>
                            <button type="button" class="btn_filter_add"><span>모든 필터 추가</span></button>
                            <button type="button" class="btn_filter_reset"><span>필터 초기화</span></button>
                        </div>
                        <div>
                            <button type="button" class="btn_filter_submit"><span>검색</span></button>
                        </div>
                    </div>
                    <!-- // filter_submit_wrap -->

                </div>

                내용이 들어갑니다.

            </div>
            <!-- // page_box -->
            
            
        </div>    
        <!-- // page_wrap -->
    </div>
    <!-- // container_wrap -->

</div>
<!-- // main -->




<!-- 테스트 스크립트 -->
<script src="/js/temp.js"></script>
<!-- // 테스트 스크립트 -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<!-- <script src="../js/jquery-1.12.4.min.js"></script> -->
<!-- <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script> -->


<style>
.select_list {display:none; position: absolute;}
</style>




<script>
let btn_triger = document.querySelector(".filter_list .filter_item div.filter_input_wap input.btn_select");
btn_triger.addEventListener("focus", () => {
    document.querySelector(".select_list").style.display = "block";
    btn_triger.classList.add("active")
})
btn_triger.addEventListener("blur", () => {
    document.querySelector(".select_list").style.display = "none";
})

let select_list = document.querySelectorAll(".select_list li");
select_list.forEach(function(item){
    console.log(item)
    item.addEventListener("click", function(){
        console.log("Adsf");
    })
})
</script>


</body>
</html>